#--------------|| Environment Files & Secrets ||--------------#
.env
.env.local
.env.*.local

#--------------|| System & Application Logs ||--------------#
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#--------------|| Dependencies & Build Output ||--------------#
node_modules
dist
dist-ssr
*.local

#--------------|| Editor & Operating System Files ||--------------#
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?