@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family:
      "Cairo",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      sans-serif;
  }
  code,
  pre,
  .font-mono {
    font-family: "JetBrains Mono", monospace;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-qr,
  #printable-qr * {
    visibility: visible;
  }
  #printable-qr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2rem;
    background: white !important;
  }
}
